
monday/Lectures/lecture 1/.DS_Store
monday/Lectures/lecture 1/img/.DS_Store
tuesday/Lectures/lecture 3/.DS_Store
tuesday/Lectures/lecture 4/.DS_Store
tuesday/Lectures/lecture 4/img/.DS_Store
wednesday/Lectures/lecture 6/.DS_Store
wednesday/Lectures/lecture 6/img/.DS_Store
